/* GENERAL STYLES
-------------------------------*/

#consent-modeV2-modal h6 {
    font-weight: normal;
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

#consent-modeV2-modal button {
    padding: 7px 10px;
    margin-right: 5px;
    border-radius: 20px;
}

/* MODAL STYLES
-------------------------------*/
#consent-modeV2-modal .jw-modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .75);
    padding: 40px;
    overflow: auto;
}

#consent-modeV2-modal .jw-modal.open {
    display: block;
}

#consent-modeV2-modal .jw-modal-body {
    padding: 20px;
    background: #fff;
    width: 80%;
    height: auto;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#consent-modeV2-modal body.jw-modal-open {
    overflow: hidden;
}

#consent-modeV2-modal #prefferences-jw{
    border-color: #DC2B19;
    border-width: 2px;
    width: 100px;
}

#consent-modeV2-modal #accept-jw{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #48C231;
    background-color: #48C231;
    color: white;
    font-size: 20px;
    border-radius: 70px;
    width: 210px;
    margin-bottom: 8px;
    border-width: 0px;
}

/*Toggle switch*/
/* The switch - the box around the slider */
#consent-modeV2-modal .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  #consent-modeV2-modal .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  #consent-modeV2-modal .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #consent-modeV2-modal .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #consent-modeV2-modal input:checked + .slider {
    background-color: #48C231;
  }
  
  #consent-modeV2-modal input:focus + .slider {
    box-shadow: 0 0 1px #48C231;
  }
  
  #consent-modeV2-modal input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  #consent-modeV2-modal .slider.round {
    border-radius: 34px;
  }
  
  #consent-modeV2-modal .slider.round:before {
    border-radius: 50%;
  }
  #consent-modeV2-modal .grid-container {
    display: grid;
    grid-template-columns: 60px 1fr; /* 1st column is 80px, 2nd column takes the remaining space */
    grid-template-rows: repeat(4, 1fr); /* 4 rows that divide the space equally */
    gap: 10px; /* Optional: Adds some space between grid items */
    padding: 10px;
}
  
#consent-modeV2-modal .grid-item {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }
  #consent-modeV2-modal .grid-item p{
    font-size: 14px;
  }
  
/*Switch*/
#consent-modeV2-modal .inactiveMixin {
  content: "";
  position: absolute;
  display: block;
}

#consent-modeV2-modal .beforeAnimation {
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}

#consent-modeV2-modal .afterAnimation {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 0px 0 hsla(0, 0%, 0%, 0.04), 0 4px 9px hsla(0, 0%, 0%, 0.13), 0 3px 3px hsla(0, 0%, 0%, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}

#consent-modeV2-modal .toggleWrapper {
  margin: auto;
  width: 55px;
  border: 1px solid lightgray;
  margin-top: 20px;
  border-radius: 5px;
}

#consent-modeV2-modal .toggleWrapper input.mobileToggle {
  opacity: 0;
  position: absolute;
}

#consent-modeV2-modal .toggleWrapper input.mobileToggle + label {
  position: relative;
  display: inline-block;
  user-select: none;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
}